div, body {
  display:flex;
  box-sizing: border-box;
}

span{
    display: inline-flex;
    box-sizing: border-box;
  }

body{
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;

  align-items: baseline;
}


.weatherCard{
  margin:auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 25vh;
  width: 50vw;
  box-shadow: 1px 1px 7px #666;



  background-color: $background-color-card;
  flex-direction: column;
  h1{
    font-family: 'Aclonica', sans-serif;
  }

  p{
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    line-height: 1.1;
  }

  #weather{
    justify-content: center;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;

    border-bottom: #000 solid;
    width:100%;
  }
}
