div, body {
  display:flex;
  box-sizing: border-box;
}

span{
    display: inline-flex;
    box-sizing: border-box;
  }

body{
  transition: background-color 3s ease;
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;

  align-items: baseline;
}


.weatherCard{
  margin:auto;
  justify-content: center;
  text-align: center;
  padding: 75px 150px;
  min-height: 25vh;
  width: auto;
  box-shadow: 1px 1px 7px #666;



  background-color: $background-color-card;
  flex-direction: column;

  p{
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    line-height: 1.1;
  }

  .weatherInfo{
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 160%;

    border-bottom: #000 solid;
    width:100%;
  }

  #convert{
    margin:auto;
    font-size: 80%;
    color: $grey-700;

    cursor: pointer;
  }
}
