//Fonts
//======================================================================
@import url('https://fonts.googleapis.com/css?family=Aclonica|Raleway:700|Work+Sans:600');
//font-family: 'Raleway', sans-serif;
//font-family: 'Work Sans', sans-serif;
//font-family: 'Aclonica', sans-serif;


//Colors
//======================================================================
$red-500: #f44336;

$white: #FFF;

$background-color: $red-500;

$background-color-card: $white;
